@import "../variables";

.modal-backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
}

.modal {
  position:fixed;
  background: rgba(255,255,255,0.8);
  width: 80%;
  max-width: 40em;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 1em 1em 0.5em 2em;
  border-radius: 0.5em;
  > .title {
    text-transform: capitalize;
    font-weight: 300;
  }
  .modal-body {
    min-height: 10em;
  }
  .action-buttons {
    padding: 1.25em 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > .btn {
      margin-left: 1em;
    }
  }
  .error-message {
    margin-right: auto;
    color: $error-color;
    font-size: 0.8em;
    max-width: 50%;
  }
}

@supports (backdrop-filter: blur(3px)) {
  .modal-backdrop {
    background-color: transparent;
    animation: 250ms ease-out forwards blurred;
  }
}

@keyframes blurred {
  from { backdrop-filter: blur(0);}
  to { backdrop-filter: blur(20px);}
}